# Case Itau

## Libraries

In [1]:
import pandas as pd

In [144]:
rain = pd.read_csv('./data/rain_data_aus.csv')
wind1 = pd.read_csv('./data/wind_table_01.csv')
wind2 = pd.read_csv('./data/wind_table_02.csv')
wind3 = pd.read_csv('./data/wind_table_03.csv')
wind4 = pd.read_csv('./data/wind_table_04.csv')
wind5 = pd.read_csv('./data/wind_table_05.csv')
wind6 = pd.read_csv('./data/wind_table_06.csv')
wind7 = pd.read_csv('./data/wind_table_07.csv')
wind8 = pd.read_csv('./data/wind_table_08.csv')

# Gathering Data

In [145]:
list_wind = [wind1,wind2,wind3,wind4,wind5,wind6,wind7,wind8]

In [146]:
def wind_concat(list_dataset):
    '''Function to adjust column names and return concatened in a single df.
    '''
    for ds in list_dataset:
        ds.rename(lambda x: x.replace('_','').lower(), axis='columns',inplace=True)
    return pd.concat(list_dataset)

In [147]:
wind = wind_concat(list_wind)

## Removing duplicated lines

In [148]:
print(rain.duplicated().sum())
print(wind.duplicated().sum())

0
22193

In [149]:
wind.drop_duplicates(inplace=True)
print(wind.duplicated().sum())

0

## Merging datasets

In [150]:
wind['dt_loc'] = wind['date'] + '_' + wind['location']
rain['dt_loc'] = rain['date'] + '_' + rain['location']

In [152]:
weather_hist = pd.merge(rain,wind,on='dt_loc',how='left')

# Data cleaning

In [153]:
weather_hist.drop(axis=columns,columns=['date_y','location_y'],inplace=True)

In [161]:
weather_hist.rename(columns={'date_x':'date','location_x':'location'},inplace=True)

In [162]:
weather_hist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142193 entries, 0 to 142192
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              142193 non-null  object
 1   location          142193 non-null  object
 2   mintemp           141556 non-null  float64
 3   maxtemp           141871 non-null  float64
 4   rainfall          140787 non-null  float64
 5   evaporation       81350 non-null   float64
 6   sunshine          74377 non-null   float64
 7   humidity9am       140419 non-null  float64
 8   humidity3pm       138583 non-null  float64
 9   pressure9am       128179 non-null  float64
 10  pressure3pm       128212 non-null  float64
 11  cloud9am          88536 non-null   float64
 12  cloud3pm          85099 non-null   float64
 13  temp9am           141289 non-null  float64
 14  temp3pm           139467 non-null  float64
 15  raintoday         140787 non-null  object
 16  amountOfRain      142193 non-null  float64
 17  raintomorrow      142193 non-null  object
 18  temp              141871 non-null  float64
 19  humidity          138583 non-null  float64
 20  precipitation3pm  142193 non-null  int64
 21  precipitation9am  142193 non-null  float64
 22  modelo_vigente    142193 non-null  float64
 23  dt_loc            142193 non-null  object
 24  windgustdir       132863 non-null  object
 25  windgustspeed     132923 non-null  float64
 26  winddir9am        132180 non-null  object
 27  winddir3pm        138415 non-null  object
 28  windspeed9am      140845 non-null  float64
 29  windspeed3pm      139563 non-null  float64
dtypes: float64(21), int64(1), object(8)
memory usage: 33.6+ MB

In [174]:
weather_hist['temp9am']

0         16.9
1         17.2
2         21.0
3         18.1
4         17.8
          ...
142188     9.4
142189    10.1
142190    10.9
142191    12.5
142192    15.1
Name: temp9am, Length: 142193, dtype: float64