In [1]:
import pandas as pd
basketball = pd.read_csv('https://raw.githubusercontent.com/evapanizo/IronHack-Data-Module-2/master/27.-Network-Analysis/data/us_mens_basketball.csv', sep=',')

In [2]:
basketball.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,351,Julius Shareef Abdur-Rahim,M,23.0,202.0,104.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold
1,2636,"Stephen Todd ""Steve"" Alford",M,19.0,185.0,74.0,United States,USA,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,Gold
2,2863,Walter Ray Allen,M,25.0,192.0,93.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold
3,3874,"William Lloyd ""Willie"" Anderson, Jr.",M,21.0,200.0,86.0,United States,USA,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,Bronze
4,4505,Carmelo Kyan Anthony,M,20.0,203.0,109.0,United States,USA,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,Bronze

In [5]:
import networkx as nx
import community
import pandas as pd

# 1. Transform this data set into one that can be turned into a graph where the entities are represented by the Name field and the relationships are represented by whether the players played in the same Olympics together (Games field).

In [6]:
basketball.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,351,Julius Shareef Abdur-Rahim,M,23.0,202.0,104.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold
1,2636,"Stephen Todd ""Steve"" Alford",M,19.0,185.0,74.0,United States,USA,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,Gold
2,2863,Walter Ray Allen,M,25.0,192.0,93.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold
3,3874,"William Lloyd ""Willie"" Anderson, Jr.",M,21.0,200.0,86.0,United States,USA,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,Bronze
4,4505,Carmelo Kyan Anthony,M,20.0,203.0,109.0,United States,USA,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,Bronze

In [7]:
def df_to_graph(df, entity, edge):
    ''' Transform a dataframe into another dataframe suitable to work with graphs.'''
    graph_df = pd.merge(df, df, how='inner', on=edge)
    graph_df = graph_df.groupby([f'{entity}_x', f'{entity}_y']).count().reset_index()
    graph_df = graph_df.query(f'{entity}_x != {entity}_y')

    if type(edge) == list:
        graph_df = graph_df.loc[:, [entity + '_x', entity + '_y'] + edge]
    else:
        graph_df = graph_df.loc[:, [entity + '_x', entity + '_y', edge]]
    
    return graph_df.rename(columns={f'{entity}_x':f'{entity}_src', 
                                    f'{entity}_y':f'{entity}_dest'})

# 2. Use the from_pandas_edgelist method to turn the data frame into a graph.

In [9]:
alter_basketball = df_to_graph(df=basketball,entity='Name',edge='Games')

In [12]:
alter_basketball

                            Name_src                         Name_dest  Games
1              Adrian Delano Dantley           Ernest "Ernie" Grunfeld      1
2              Adrian Delano Dantley         Kenneth Alan "Kenny" Carr      1
3              Adrian Delano Dantley    Michel Taylor "Tate" Armstrong      1
4              Adrian Delano Dantley  Mitchell William "Mitch" Kupchak      1
5              Adrian Delano Dantley   Philip Jackson "Phil" Ford, Jr.      1
...                              ...                               ...    ...
2654  Wilmer Frederick "Bill" Hosket              John Richard Clawson      1
2655  Wilmer Frederick "Bill" Hosket        Joseph Henry "Jo-Jo" White      1
2656  Wilmer Frederick "Bill" Hosket  Michael Barnwell "Mike" Silliman      1
2657  Wilmer Frederick "Bill" Hosket     Michael Thomas "Mike" Barrett      1
2658  Wilmer Frederick "Bill" Hosket                   Spencer Haywood      1

[2464 rows x 3 columns]

In [14]:
basket_graph = nx.from_pandas_edgelist(alter_basketball,source='Name_src',target='Name_dest')

# 3. Compute and print the following graph statistics for the graph:¶

* Number of nodes
* Number of edges
* Average degree
* Density

In [32]:
basket_graph.

KeyError: 1

In [27]:
print(f'Number of nodes: {basket_graph.number_of_edges()}') 
print(f'Number of edges: {basket_graph.number_of_edges()}')              
print(f'Average degree: {basket_graph.degree()}')         
#print(f'Density: {int(basket_graph.number_of_edges) / int(basket_graph.number_of_nodes)}')

Number of nodes: 1232
Number of edges: 1232
Average degree: [('Adrian Delano Dantley', 11), ('Ernest "Ernie" Grunfeld', 11), ('Kenneth Alan "Kenny" Carr', 11), ('Michel Taylor "Tate" Armstrong', 11), ('Mitchell William "Mitch" Kupchak', 11), ('Philip Jackson "Phil" Ford, Jr.', 11), ('Phillip Gregory "Phil" Hubbard', 11), ('Scott Glenn May', 11), ('Steven Bernard "Steve" Sheppard', 11), ('Thomas Joseph "Tom" LaGarde', 11), ('Walter Paul Davis', 11), ('William Quinn Buckner', 11), ('Adrian Howard Smith', 11), ('Burdette Eliele "Burdie" Haldorson', 22), ('Darrall Tucker Imhoff', 11), ('Earl Allen Kelley', 11), ('Jay Joseph Hoyland Arnette', 11), ('Jerome Alan "Jerry" West', 11), ('Jerry Ray Lucas', 11), ('Lester Everett "Les" Lane', 11), ('Oscar Palmer Robertson', 11), ('Robert Lewis "Bob" Boozer', 11), ('Terence Gilbert "Terry" Dischinger', 11), ('Walter Jones "Walt" Bellamy, Jr.', 11), ('Alexander John "Alex" Groza', 13), ('Clifford Eugene "Cliff" Barker', 13), ('Donald Argee "Don" Barksdale', 13), ('Gordon C. Carpenter', 13), ('Jesse Banard Renick', 13), ('Kenneth Herman "Kenny" Rollins', 13), ('Lewis William "Lew" Beck, Jr.', 13), ('Ralph Milton Beard, Jr.', 13), ('Raymond George "Ray" Lumpp', 13), ('Robert Albert "Bob" Kurland', 26), ('Robert C. "R. C." Pitts', 13), ('Robert Lloyd Jackson "Jack" Robinson', 13), ('Vincent Joseph "Vince" Boryla', 13), ('Wallace Clayton "Wally" Jones', 13), ('Allan Wade Houston', 11), ('Alonzo Harding Mourning', 11), ('Antonio Keithflen McDyess', 11), ('Gary Dwayne Payton', 22), ('Jason Frederick Kidd', 22), ('Julius Shareef Abdur-Rahim', 11), ('Kevin Maurice Garnett', 11), ('Steven Delano "Steve" Smith', 11), ('Timothy Duane "Tim" Hardaway', 11), ('Vincent Lamar "Vince" Carter', 11), ('Vincent Lamont "Vin" Baker', 11), ('Walter Ray Allen', 11), ('Allen Ezail Iverson', 11), ("Amar'e Carsares Stoudemire", 11), ('Carlos Austin Boozer, Jr.', 19), ('Carmelo Kyan Anthony', 36), ('Chukwuemeka Noubuisi "Emeka" Okafor', 11), ('Dwyane Tyrone Wade, Jr.', 19), ('Lamar Joseph Odom', 11), ('LeBron Raymone James', 26), ('Richard Allen Jefferson', 11), ('Shawn Dwayne Marion', 11), ('Stephon Xavier Marbury', 11), ('Timothy Theodore "Tim" Duncan', 11), ('Alvin Cyrrale Robertson', 11), ('Christopher Paul "Chris" Mullin', 20), ('Jeffrey Stephen "Jeff" Turner', 11), ('Jon Francis Koncak', 11), ('Joseph William "Joe" Kleine', 11), ('Michael Jeffrey Jordan', 20), ('Osie Leon Wood, III', 11), ('Patrick Aloysius Ewing', 20), ('Samuel Bruce "Sam" Perkins', 11), ('Stephen Todd "Steve" Alford', 11), ('Vernon "Vern" Fleming', 11), ('Wayman Lawrence Tisdale', 11), ('Andre Tyler Iguodala', 11), ('Anthony Marshon Davis, Jr.', 11), ('Christopher Emmanuel "Chris" Paul', 18), ('Deron Michael Williams', 18), ('James Edward Harden, Jr.', 11), ('Kevin Wayne Durant', 21), ('Kevin Wesley Love', 11), ('Kobe Bean Bryant', 18), ('Russell Westbrook, Jr.', 11), ('Tyson Cleotis Chandler', 11), ('Anfernee Deon "Penny" Hardaway', 11), ('Charles Wade Barkley', 18), ('David Maurice Robinson', 28), ('Grant Henry Hill', 11), ('Hakeem Abdul Olajuwon', 11), ('John Houston Stockton', 18), ('Karl Malone', 18), ('Mitchell James "Mitch" Richmond, III', 21), ('Reginald Wayne "Reggie" Miller', 11), ('Scottie Maurice Pippen', 18), ("Shaquille Rashuan O'Neal", 11), ('Arthur Owen "Art" Mollner', 13), ('Carl Leslie Shy', 13), ('Carl Stanley Knowles', 13), ('Donald Arthur "Don" Piper', 13), ('Duane Alexander Swanson', 13), ('Francis Lee Johnson', 13), ('Frank John Lubin', 13), ('Jack Williamson Ragland', 13), ('John Haskell "Tex" Gibbons', 13), ('Joseph Cephis "Joe" Fortenberry', 13), ('Ralph English Bishop', 13), ('Samuel J. "Sam" Balter, Jr.', 13), ('Willard Theodore Schmidt', 13), ('William John "Bill" Wheatley', 13), ('Carl Cecil Cain', 11), ('Charles Frick "Chuck" Darling', 11), ('Gilbert "Gib" Ford', 11), ('James Patrick "Jim" Walsh', 11), ('K. C. Jones', 11), ('Richard James "Dick" Boushka', 11), ('Robert Eugene "Bob" Jeangerard', 11), ('Ronald Paul "Ron" Tomsic', 11), ('William Best "Billy" Evans', 11), ('William Fenton "Bill" Russell', 11), ('William Marion "Bill" Hougland', 24), ('Calvin Bernard "Cal" Fowler', 11), ('Charles Thomas "Charlie" Scott', 11), ('Donald Francis "Don" Dee', 11), ('Glynn Saulters', 11), ('James H. "Jim" King', 11), ('John Kenneth "Ken" Spain', 11), ('John Richard Clawson', 11), ('Joseph Henry "Jo-Jo" White', 11), ('Michael Barnwell "Mike" Silliman', 11), ('Michael Thomas "Mike" Barrett', 11), ('Spencer Haywood', 11), ('Wilmer Frederick "Bill" Hosket', 11), ('Christopher Wesson "Chris" Bosh', 11), ('Dwight David Howard', 11), ('Michael Wesley Redd', 11), ('Tayshaun Durell Prince', 11), ('DeMar Darnell DeRozan', 11), ('DeMarcus Amir Cousins', 11), ('Draymond Jamal Green', 11), ('Harrison Bryce Jordan Barnes', 11), ('Hyland DeAndre Jordan, Jr.', 11), ('Jimmy Butler III', 11), ('Klay Alexander Thompson', 11), ('Kyle Lowry', 11), ('Kyrie Andrew Irving', 11), ('Paul George', 11), ('Charles Daniel H. Smith', 11), ('Charles Edward Smith, IV', 11), ('Daniel Lewis "Dan" Majerle', 11), ('Daniel Ricardo "Danny" Manning', 11), ('Herman "J. R." Reid, Jr.', 11), ('Hersey R. Hawkins, Jr.', 11), ('Jeffrey "Jeff" Grayer', 11), ('Stacey Orlando Augmon', 11), ('Vernell Eufaye "Bimbo" Coles', 11), ('William Lloyd "Willie" Anderson, Jr.', 11), ('Charles Monroe "Charlie" Hoag', 13), ('Clyde Edward Lovellette', 13), ('Dan Luther Pippin', 13), ('Frank Reilly McCabe', 13), ('Howard Earl "Howie" Williams', 13), ('John Frederick Keller', 13), ('Marcus Ross "Marc" Freiberger', 13), ('Melvin Dean Kelley', 13), ('Robert Earl "Bob" Kenney', 13), ('Ronald Yngve "Ron" Bontemps', 13), ('Victor Wayne Glasgow', 13), ('William Barner "Bill" Lienhard', 13), ('Charles Thomas "Tom" McMillen', 11), ('Dwight Elmo Jones', 11), ('James Ricardo "Jim" Forbes', 11), ('James Turner "Jim" Brewer', 11), ('Kenneth Bryan "Kenny" Davis', 11), ('Kevin Francis Joyce', 11), ('Michael Allen "Mike" Bantom', 11), ('Paul Douglas "Doug" Collins', 11), ('Robert Clyde "Bobby" Jones', 11), ('Thomas Edward "Tom" Henderson', 11), ('Tommy Loren Burleson', 11), ('William Edward "Ed" Ratleff', 11), ('Christian Donald Laettner', 11), ('Clyde Austin Drexler', 11), ('Earvin "Magic" Johnson, Jr.', 11), ('Larry Joe Bird', 11), ('George "Jiff" Wilson', 11), ('Jeffrey Vincent "Jeff" Mullins', 11), ('Jerry Franklin Shipp', 11), ('John Paul "Pete" McCaffrey', 11), ('Joseph Louis "Joe" Caldwell', 11), ('Lawrence Harvey "Larry" Brown', 11), ('Lucious Brown "Luke" Jackson, Jr.', 11), ('Melvin Grant "Mel" Counts', 11), ('Richard Allen "Dick" Davies', 11), ('Velvet James "Jim" Barnes', 11), ('Walter Raphael "Walt" Hazzard', 11), ('William Warren "Bill" Bradley', 11)]

# 4. Compute betweenness centrality for the graph and print the top 5 nodes with the highest centrality.

# 5. Compute PageRank centrality for the graph and print the top 5 nodes with the highest centrality.

# 6. Compute degree centrality for the graph and print the top 5 nodes with the highest centrality.¶

# 7. Generate a network visualization for the entire graph using a Kamada-Kawai force-directed layout.

Look for nx.draw_kamada_kawai for reference.

# 8. Create and visualize an ego graph for the player with the highest betweenness centrality.

nx.ego_graph will help you visualize a graph centered at some node.

# 9. Identify the communities within the entire graph and produce another visualization of it with the nodes color-coded by the community they belong to.