# Descriptive Statistics Review

## Before you start:

- Read the README.md file
- Comment as much as you can
- Happy learning!

## Context

![img](./diamonds.jpg)

In this lab we are going to work with data to understand the characteristics of a diamond that are most likely to influence its price. In this first part of the lab, we will explore and clean our data. 

The dataset we will be using is comprised of approximately 54k rows and 11 different columns. As always, a row represents a single observation (in this case a diamond) and each of the columns represent a different feature of a diamond.

The following codebook was provided together with the dataset to clarify what each column represents:

| Column  | Description  |
|---|---|
| Price  | Price in US dollars (326-18,823)  |
| Carat  | Weight of the diamond (0.2--5.01)  |
| Cut  | Quality of the cut (Fair, Good, Very Good, Premium, Ideal)  |
| Color  | Diamond colour, from J (worst) to D (best)  |
| Clarity  | A measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))   |
| x  | Length in mm (0--10.74)  |
| y  | Width in mm (0--58.9)  |
| z  | Depth in mm (0--31.8)  |
| Depth  | Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)  |
| Table  | Width of top of diamond relative to widest point (43--95)  |

## Libraries
Pandas and numpy will be needed for the analysis of the data. Don't worry about the seaborn and matplotlib import at the moment, you will learn more about them next week, but we will be using some of their functionalities.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

First import the data from the .csv file provided and assign it to a variable named `diamonds` and drop the column with the index.

In [2]:
diamond = pd.read_csv('diamonds.csv')

In [3]:
diamond['cut'].value_counts()

Ideal        19608
Premium      12507
Very Good    10922
Good          4443
Fair          1460
Name: cut, dtype: int64

# 1. Taking the first look at the data.
Let's see how the data looks by using pandas methods like `head()`, `info()` and `describe()`. 

**First, use the `head` method.**

In [4]:
diamond.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

We can see the first 5 rows of the dataset using the `head` method. This by itself doesn't tell us much about the data that we have, but we can have a first look at the features (columns) and some of the values that each one takes.

**What do you see? Make some comments about the values you see in each column, comparing them with the codebook. Is that what you would expect for these variables?**

In [5]:
diamond.count()

carat      48940
cut        48940
color      48940
clarity    48940
depth      48940
table      48940
price      48940
x          48940
y          48940
z          48940
dtype: int64

It is very important to know the amount of data we have, because everything will depend on that, from the quality of the analysis to the choice of our infrastracture.

**Check the shape of the data**

In [6]:
diamond.shape

(48940, 10)

The `clarity` column is confusing because we are not diamond experts. Let's create a new column with a new scale that is more understandable for us.

**Create a new column with numbers from 0 to 7. The lowest would be 0 with value `I1` and the greatest 7 with value `IF`**

In [7]:
diamond.replace({'clarity': {'I1':0,'SI2':1,'SI1':2,'VS2':3,'VS1':4,'VVS2':5,'VVS1':6,'IF':7}})

       carat        cut color  clarity  depth  table  price     x     y     z
0       0.21    Premium     E        2   59.8   61.0    326  3.89  3.84  2.31
1       0.23       Good     E        4   56.9   65.0    327  4.05  4.07  2.31
2       0.29    Premium     I        3   62.4   58.0    334  4.20  4.23  2.63
3       0.31       Good     J        1   63.3   58.0    335  4.34  4.35  2.75
4       0.24  Very Good     J        5   62.8   57.0    336  3.94  3.96  2.48
...      ...        ...   ...      ...    ...    ...    ...   ...   ...   ...
48935   0.72    Premium     D        2   62.7   59.0   2757  5.69  5.73  3.58
48936   0.72      Ideal     D        2   60.8   57.0   2757  5.75  5.76  3.50
48937   0.72       Good     D        2   63.1   55.0   2757  5.69  5.75  3.61
48938   0.70  Very Good     D        2   62.8   60.0   2757  5.66  5.68  3.56
48939   0.75      Ideal     D        1   62.2   55.0   2757  5.83  5.87  3.64

[48940 rows x 10 columns]

In [8]:
#diamond = diamond.replace({'clarity': {'I1':0,'SI2':1,'SI1':2,'VS2':3,'VS1':4,'VVS2':5,'VVS1':6,'IF':7}})
diamond['new_clarity'] = diamond['clarity'].replace({'I1':0,'SI2':1,'SI1':2,'VS2':3,'VS1':4,'VVS2':5,'VVS1':6,'IF':7})
diamond.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,new_clarity
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,5

It makes sense to do the same with the `color` column.

**Do the same with values from 0 to 6. Read the codebook to see the match**

In [9]:
#diamond = diamond.replace({'color': {'D':6, 'E':5,'F':4,'G':3,'H':2,'I':1,'J':0}})
diamond['new_color'] = diamond['color'].replace({'D':6, 'E':5,'F':4,'G':3,'H':2,'I':1,'J':0})
diamond.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,new_clarity,new_color
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,5,0

In [10]:
diamond['cut'].value_counts()

Ideal        19608
Premium      12507
Very Good    10922
Good          4443
Fair          1460
Name: cut, dtype: int64

In [11]:
diamond['new_cut']= diamond['cut'].replace({'Fair':0,'Good':1,'Very Good': 2, 'Premium':3,'Ideal':4})
diamond.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,new_clarity,new_color,new_cut
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5,3
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5,1
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1,3
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0,1
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,5,0,2

With the `info` method, we can see the features of the dataset, and the amount of observations (rows) that have a non-null value and the types of the features. 

**Now use the `info` method and comparing with the shape, comment on what you see**

In [12]:
diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48940 entries, 0 to 48939
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   carat        48940 non-null  float64
 1   cut          48940 non-null  object
 2   color        48940 non-null  object
 3   clarity      48940 non-null  object
 4   depth        48940 non-null  float64
 5   table        48940 non-null  float64
 6   price        48940 non-null  int64
 7   x            48940 non-null  float64
 8   y            48940 non-null  float64
 9   z            48940 non-null  float64
 10  new_clarity  48940 non-null  int64
 11  new_color    48940 non-null  int64
 12  new_cut      48940 non-null  int64
dtypes: float64(6), int64(4), object(3)
memory usage: 4.3+ MB

In the last line of the info output, you have some information about the types of the columns. As you know, it is a good idea to check if the types of each column is what you expect. If a column has the right type, we will be able to do all the operations that we want to do. 

For instance, if we have a column that is a `date` with a `string` format, we will have the data but we won't be able to do a simple operation, such as format the date the way that we would like.

Changing the data type to the one we needs can help us to solve a lot of problems in our data.

**Check the types of each column and comment if it matches with the expected**

In [13]:
#your code here

# 2. A deeper look: checking the basic statistics.

The `describe` method gives us an overview of our data. From here we can see all the descriptive metrics for our variables.

**Use the `describe` method and comment on what you see**

In [14]:
diamond.describe()

,carat,depth,table,price,x,y,z,new_clarity,new_color,new_cut
count,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000,48940.000000
mean,0.797817,61.751931,57.451161,3934.409644,5.730712,5.734333,3.538648,3.055456,3.407254,2.906416
std,0.474126,1.430026,2.233450,3989.333861,1.121920,1.145344,0.706817,1.645542,1.699858,1.116568
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,949.000000,4.710000,4.720000,2.910000,2.000000,2.000000,2.000000
50%,0.700000,61.800000,57.000000,2401.000000,5.690000,5.710000,3.520000,3.000000,3.000000,3.000000
75%,1.040000,62.500000,59.000000,5331.250000,6.540000,6.540000,4.040000,4.000000,5.000000,4.000000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000,7.000000,6.000000,4.000000

You have probably noticed that the columns x, y and z have a minimum value of 0. This means that there are one or more rows (or observations) in our dataset that are supposedly representing a diamond that has lenght, width or depth of 0. Considering that we're talking about a physical object, this is impossible!

Now let's proceed to check the rows that have a value of 0 in any of the x, y or z columns. By doing this we want to check if the data we are missing can be obtained using the data that we do have.

**Check the columns with `x`, `y` and `z` with value 0 in all of them and comment what you see**

In [15]:
# diamond.all(diamond['x'] and diamond['y']  and diamond['z'] == 0)
#df[(df['A'] > 1) | (df['B'] < -1)]
diamond.loc[(diamond['x'] == 0) | (diamond['y'] == 0) | (diamond['z'] == 0)]

,carat,cut,color,clarity,depth,table,price,x,y,z,new_clarity,new_color,new_cut
2010,1.00,Premium,G,SI2,59.1,59.0,3142,6.55,6.48,0.0,1,3,3
2104,1.01,Premium,H,I1,58.1,59.0,3167,6.66,6.60,0.0,0,2,3
4323,1.10,Premium,G,SI2,63.0,59.0,3696,6.50,6.47,0.0,1,3,3
4941,1.01,Premium,F,SI2,59.2,58.0,3837,6.50,6.47,0.0,1,4,3
9187,1.50,Good,G,I1,64.0,61.0,4731,7.15,7.04,0.0,0,3,1
10119,1.07,Ideal,F,SI2,61.6,56.0,4954,0.00,6.62,0.0,1,4,4
10825,1.00,Very Good,H,VS2,63.3,53.0,5139,0.00,0.00,0.0,3,2,2
12290,1.15,Ideal,G,VS2,59.2,56.0,5564,6.88,6.83,0.0,3,3,4
14433,1.14,Fair,G,VS1,57.5,67.0,6381,0.00,0.00,0.0,4,3,0
22126,2.18,Premium,H,SI2,59.4,61.0,12631,8.49,8.45,0.0,1,2,3
22240,1.56,Ideal,G,VS2,62.2,54.0,12800,0.00,0.00,0.0,3,3,4
23691,2.25,Premium,I,SI1,61.3,58.0,15397,8.52,8.42,0.0,2,1,3
23795,1.20,Premium,D,VVS1,62.1,59.0,15686,0.00,0.00,0.0,6,6,3
24573,2.20,Premium,H,SI1,61.2,59.0,17265,8.42,8.37,0.0,2,2,3
24864,2.25,Premium,H,SI2,62.8,59.0,18034,0.00,0.00,0.0,1,2,3
24934,2.02,Premium,H,VS2,62.7,53.0,18207,8.02,7.95,0.0,3,2,3
25143,2.80,Good,G,SI2,63.8,58.0,18788,8.90,8.85,0.0,1,3,1
44936,0.71,Good,F,SI2,64.1,60.0,2130,0.00,0.00,0.0,1,4,1

## 18 valores de dimensÃ£o nulos

## Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)

In [16]:
diamond.iloc[0]

carat             0.21
cut            Premium
color                E
clarity            SI1
depth             59.8
table               61
price              326
x                 3.89
y                 3.84
z                 2.31
new_clarity          2
new_color            5
new_cut              3
Name: 0, dtype: object

In [18]:
#round(((x + y) * depth) / 2,2)

As you can see, we have 20 rows that have a value of 0 in some or all the aforementioned columns.
Most of them (12) are missing the z value, which we can obtain using the columns depth, x and y. 

20 rows with issues represent just 0.03% of our data (20 out of 53940) so it wouldn't be a big deal to remove them. Still, lets try to keep all the data we have. 

For those 12 rows, we will create a function that applies the formula given in the codebook and get the value of z. We will drop the other rows (8), since they are missing all 3 values or 2 of them.

**Create a function named `calculate_z` that applies the function in the codebook to one single row you give to the function**

In [21]:
diamond.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,new_clarity,new_color,new_cut
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5,3
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5,1
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1,3
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0,1
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,5,0,2

In [30]:
def calc_z(line):
    depth = line['depth']
    y = line['y']
    x = line['x']
    return round((((x + y) * depth) / 2) *0.01,2)

### **Apply it just to the rows with incorrect values**

In [33]:
diamond.loc[(diamond['x'] != 0) & (diamond['y'] != 0) & (diamond['z'] == 0)]

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z, new_clarity, new_color, new_cut]
Index: []

In [31]:
diamond['z'] = diamond.apply(calc_z,axis=1)

In [32]:
diamond.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,new_clarity,new_color,new_cut
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5,3
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5,1
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1,3
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0,1
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,5,0,2

In [29]:
diamond['z'].head() * 0.01

0    2.3113
1    2.3101
2    2.6302
3    2.7504
4    2.4806
Name: z, dtype: float64

If we leave the other 8 values as they are, it would negatively affect our analysis, because these are data that do not make logical sense. Therefore it is better to consider those values as NaN values, since they are probably the result of a mistake or error during process of measuring and storing these values in a dataset.

To replace them we can use the pandas .replace() method and np.NaN.

**Replace the zero values in the `z` column for a NaN**

In [ ]:
#your code here

----
# Bonus: check the new z values
Since we need to be 100% sure of our data, let's create a function that validates our z. To do so, we will use the same formula, but this time we will calculate the value of depth with the new value assigned to z.

**Create a function named `validate_z` that compares the `z`  in cells above with the one thrown by the formula and run it with the rows you changed in the cells above**

In [ ]:
#your code here

Let's check the data again with the `describe()` method.

The minimum value for x, y and z should now be a positive number, as it should be for the physical measurements of an object.

Let's finish by checking for NaN values in the data. Since we introduced them ourselves using 'replace', we will surely find some, but there may be more that are unrelated to the x, y and z columns. Checking NaNs is a fundamental part of data cleaning and it's always better to do this kind of operations before proceeding with analysis.

**Check how many NaNs do you have, comment what you would do with those values, and then do so**

In [ ]:
#your code here

# 3. Checking for outliers
Now we are going to revisit the summary table to check for outliers.

**Use the `describe` method again and comment on what you see. After that, check if you have any outliers**

In [ ]:
#your code here

In [ ]:
#your comments here

To manage these outliers, we are going to filter our DataFrame, we're going to take all the values that have a price higher than the 75th percentile.

**Look for that quantile and filter the dataframe to clearly see the outliers. What do you think?**

In [ ]:
#your code here

Our dataset is really big and the outliers are really far apart from the rest of the values. To see this more clearly we will use a boxplot, which plots the median, 25th and 75th quartile, the maximum and minimum, as well as any outliers.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

Now we can see that all the values are within an acceptable range, but we have 2 big outliers in y and 1 in z. Now we know that our max values for y should be around 10 and the values for z should be around 6, so let's filter our dataset to find values higher than 10 in it.

In [ ]:
#your code here

Now that we have found the outlier, let's use the function we defined earlier to correct this value. First, we need to change the value to 0 (because that's how we defined the function before) and then we will apply it.

**Apply `calculate_z` for the row with the outlier**

In [ ]:
#your code here

Let's check if we actually corrected the outlier.

In [ ]:
diamonds.loc[48410]

Cool! Now let's validate our new `z`. We will check if we obtain the same value of depth using our validate function. If the formula applies, this means could approximate the real value of `z`.

**Apply `validate_z` to the row used earlier**

In [ ]:
#your code here

Now let's do the same for `y`. First, let's filter the DataFrame to find the outliers. We said that the maximum values should be around 10, so let's check what are the values above 10.

**Check the values greater than 10 in the `y` column**

In [ ]:
#your code here

We can clearly see that the 31.8 in row 49189 is an outlier for the y value. Also, we can see that the 58.9 value for `y` in row 24067 is actually its depth, so it was a mistake when they introduced the data. Let's create a function to fix these outliers.

**Create a function named `calculate_y` to calculate `y` using `z` and `x` the same way you did above**

In [ ]:
#your code here

We will check the rows that had an outlier in `y`, to check that the values were changed.

**Check those rows (also validating with your function) and comment what you see**

Now that we have corrected or dropped all of our outliers, lets plot another box plot to double check.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

**What do you think? Are these values more reasonable?**

In [ ]:
#your thoughts here

**Once you are happy with your cleaning, save the cleaned data and continue to csv. Your new csv should be named ``diamonds_clean``**

In [ ]:
#your code here